.logo {
    border-radius: 100px;
    width: 5%;
    border: 1px solid rgb(0, 0, 0);
  }
  .navbar {
    background-color: #888484;
    display: flex;
    align-items: center;
  }
  .nav-links li {
    list-style: none;
    display: inline;
  }
  .nav-links li::after {
    content: "|";
  }
  .nav-links li::before {
    content: "|";
  }
  .green-border {
    margin-block: 150px;
    margin-inline: auto;
    width: 800px;
    border: 10px solid green;
    border-style: dotted;
  }
  .image-scale-dog {
    position: relative;
    top: 200px;
    left: 223px;
  }
  .image-scale-cat {
    position: relative;
    bottom: 150px;
    left: 70px;
  }